<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="styles/css/app.css">
  </head>
  <body>
    <header>
        <h1>todo<span>List</span></h1>
        <h2>A simple todo list app built with node</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
    </section>

    <ul class="list">
    </ul>
    <script src="http://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
  </body>
</html>
